{% extends 'base.html' %}

{% block body %}
<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-sm-6" style="font-size: large; ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
        </div>
        <div class="col-sm-6 ">
            <div>
                {% load static %}
                <image src="{% static 'home/images.jpeg' %}"
                    style="height: 200px; width: 250px; margin-left: 170px; border-radius: 50%;">
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-sm-6 ">
            <div>
                {% load static %}
                <image src="{% static 'home/images.jpeg' %}"
                    style="height: 200px; width: 250px; margin-left: 170px; border-radius: 50%;">
            </div>
        </div>
        <div class="col-sm-6" style="font-size: large; ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
        </div>
    </div>
</div>
<div class="container" style="margin-top: 40px;">
    <div class="row">
        <div class="col-sm-6" style="font-size: large; ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.<br>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
        </div>
        <div class="col-sm-6 ">
            <div>
                {% load static %}
                <image src="{% static 'home/images.jpeg' %}"
                    style="height: 200px; width: 250px; margin-left: 170px; border-radius: 50%;">
            </div>
        </div>
    </div>
</div>
{% endblock body %}