{% extends 'base.html' %}

{% block body %}
<div class="container" style="margin-left: 45%; margin-top: 20px; font-size: xx-large; color: coral;">
    Skills
</div>
<br><br>
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-sm-6">
            <div style="margin-left: 210px; font-size: xx-large; font-style: oblique; color: coral;">
                Languages
            </div>
            <div style="font-size: large; margin-left: 150px; text-decoration: underline;">
                Python,C,C++,Javascript,SQL,Bootstrap
            </div>
          
            <div style="font-size: large; margin-left: 190px; text-decoration: underline;">
                HTML,CSS,Matlab,DSA
            </div>
        </div>
        <div class="col-sm-6">
            <div style="margin-left: 210px; font-size: xx-large; font-style: oblique; color: coral;">
                Frameworks
            </div>
            <div style="font-size: large; margin-left: 170px; text-decoration: underline;">
                Django,DjangoRest Framework,Flutter
            </div>
          
        </div>
    </div>
</div>
{% endblock body %}